*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root, body{
    width: 100vw;
}

:root{
    font-size: calc(0.5em + 1vw);
}




body{
    background-color: rgb(6, 71, 36);
}
main{
    background-color: rgb(210, 164, 177);
}


a{
    text-decoration: none;
    color: black;
}








.container{
    width: 100vw;
    height: 100vh;
    /* min-height: 100vh; */
}
.container{
    display: flex;
    flex-direction: column;
    
}


main{
    width: 100vw;
    height: 100%;
}
main{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}




/* .headbar{
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
} */
.headbar{
    background-color: rgb(6, 71, 36);
}

.logo-container{
    margin: 10px;
}
.logo-container{
    
}

.logo{
    color: #eee;
    font-size: 2rem;
}
.logo{
    padding: 5px;
}




.navigation{
    display: flex;

    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}
.navigation{
    margin: 0 1vw;
}


.nav_item-container{
    width: calc(100px + 30vw);
    height: calc(100px + 30vw);

    border: 5px solid black;
    border-radius: 10px;

    margin: 30px;
}
.nav_item-container{
    display: flex;

    justify-content: center;
    align-items: center;
}

.nav_item{
    display: block;

    width: 100%;
    height: 100%;

    margin: 10px;
}
.nav_item{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}


.nav_item_img-container{
    width: 60%;
    height: 60%;
}

.nav_item_img{
    width: 100%;
    height: 100%;
}


.nav_item_description{
    margin-top: 5px;
}



