*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root, body{
    width: 100vw;
}

:root{
    font-size: calc(1em + 0.2vw);
}


body{
    --_primary_color: rgb(6, 71, 36);
    --_secondary_color: rgb(210, 164, 177);
    --_control_item_color: rgb(162, 99, 116);


    --_move_icon_url: url("./assets/icon/move.svg");
    --_move_bright_icon_url: url("./assets/icon/move_bright.svg");

    --_back_bright_icon_url: url("./assets/icon/back01_bright.svg");

    --_plus_bright_icon_url: url("./assets/icon/plus_bright.svg");
    
    --_minus_bright_icon_url: url("./assets/icon/minus_bright.svg");
}
body{
    background-color: var(--_primary_color);
}




.controlbar{
    color:#eee;
    background-color: var(--_primary_color);
}
.controlbar{
    height: fit-content;
    width: 100%;

    padding:0.3em 0.5em;
}
.controlbar{
    font-size: 1rem;
}
.controlbar{
    display: flex;

    justify-content: start;
    align-content:space-between;
}
.controlbar{
    flex-grow: 0;
}

.control-item{
    /* background-color: transparent; */
    background-color: var(--_control_item_color);

    border-radius: 0.3em;
    /* border: 0.2em solid rgba(255,255,255,0.1); */
    border: transparent;
}
.control-item{
    font-size: 1em;

    padding: 0.75em 1em;
    margin-right: 1em;
}
.control-item{
    cursor: pointer;
}

.control-item[action='go_back']{
    background-image: var(--_back_bright_icon_url);
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}
.control-item[action='move_keyboard']{
    background-image: var(--_move_bright_icon_url);
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}
.control-item[action='zoom_out_keyboard']{
    background-image: var(--_minus_bright_icon_url);
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}
.control-item[action='zoom_in_keyboard']{
    background-image: var(--_plus_bright_icon_url);
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}







main{
    width: 100%;
    height:100vh;

    background-color: var(--_secondary_color);
}
main{
    display: flex;
    flex-direction: column;
}




.keyboards_container{
    width: 100%;
    height: 100%;
}
.keyboards_container{
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}


.scroll_keyboard_component{
    --keyboard-width: 200vw;
}

.scroll_keyboard_component{
    width: 100%;
    height: 100%;
}
.scroll_keyboard_component{
    position: relative;
}

.scroll_keyboard_component[enable_scroll]::after{
    content: '';
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: var(--_move_icon_url);
    background-size: auto 50%;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.5;

    pointer-events: none;
}


.scrollable_container{
    width: 100%;
    height: 100%;
}
.scrollable_container{
    overflow: hidden;
}
.scroll_keyboard_component[enable_scroll]
.scrollable_container{
    overflow-x: scroll;
}


.keyboard_container{
    width: var(--keyboard-width);
    height: 100%;
}
.keyboard_container{
    margin: 0 auto;
}
.keyboard_container{
    position: relative;
}
.scroll_keyboard_component[enable_scroll]
.keyboard_container::after{
    content: '';
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(1, 6, 50, 0.2);/* 遮罩层颜色 */
}


.piano-keyboard{
    width: 100%;
    height: 100%;
}
.piano-keyboard{
    position: relative;
}