.piano_keyboard
.white_keybuttons{
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    display: flex;
}

.piano_keyboard
.white_keybuttons
.keybutton_container{
    flex-grow: 1;
    display: flex;
}




.piano_keyboard
.black_keybuttons{
    position: absolute;
    
    width: 100%;
    height: 55%;
    
}





.piano_keyboard
.keybutton_container
.keybutton{
    width: 100%;
    height: 100%;
}




.piano_keyboard
.black_keybuttons{
    pointer-events: none; /*让黑键容器区域下方的白键能响应鼠标事件*/
}
.piano_keyboard
.black_keybuttons
*{
    pointer-events: auto; /*覆写黑键容器子元素的pointer-events属性，使其能继续响应鼠标事件*/
}







.piano_keyboard
.black_keybuttons
.keybutton_container{
    position:absolute;
    width: calc(0.6*(100%/7));/*(黑键容器区域默认和白键容器区域等宽)*/
    height: 100%;
}

.piano_keyboard
.black_keybuttons >
*{
    transform: translateX(-50%);/*设置黑键水平位置偏移，让下方left属性的设置，可以看作是对黑键中轴位置的设置*/
}
.piano_keyboard
.black_keybuttons >
:nth-child(1){
    left:calc(1*100%/7 - 10%/7);
    /*系数1，指定黑键中轴位于第1个白键空隙，
    减号-(下方规则中的加号亦同)后的10%/7用于微调黑键位置，让黑键布局显得更美观（该偏移值应按需设置）*/
}
.piano_keyboard
.black_keybuttons >
:nth-child(2){
    left:calc(2*100%/7 + 10%/7);
}

.piano_keyboard
.black_keybuttons >
:nth-child(3){
    left:calc(4*100%/7 - 10%/7);
}
.piano_keyboard
.black_keybuttons >
:nth-child(4){
    left:calc(5*100%/7);
}
.piano_keyboard
.black_keybuttons >
:nth-child(5){
    left:calc(6*100%/7 + 10%/7);
}