/*这里是keybutton的基础样式
关于keybutton如何在keybuttons容器中布局和显示，请查看keybuttons.css*/


.piano_keyboard
.keybutton{
}


.piano_keyboard
.keybutton{
    border-radius: 0 0 calc(3px + 0.1em) calc(3px + 0.1em);
}
.piano_keyboard
.keybutton{
    cursor: pointer;
}
.piano_keyboard
.keybutton{
    /*设置position: relative是为了按键内的音高标签的定位*/
    position: relative;
}



.piano_keyboard
.white_keybutton{
    background-color: #ddd;
    
    border: 1px solid #888;
}


.piano_keyboard
.black_keybutton{
    background-color: #222;

    border: 1px solid #888;
}





.piano_keyboard
.keybutton:hover{
    transform: scale(1.05);
}
.piano_keyboard
.keybutton.active{
    transform: scale(1);
}

.piano_keyboard
.black_keybuttons{
    z-index: 2;
}
.piano_keyboard
.white_keybutton:hover{
    z-index: 1;
}


.piano_keyboard
.keybutton.active{
    background-color: #888;
}


/*设置琴键阴影，提供一些显示与按下时的立体感*/
/* .piano_keyboard
.white_keybutton{
    margin-right:1px;
}
.piano_keyboard
.white_keybutton.active{
    box-shadow: inset 3px 0 3px 0 rgba(0, 0, 0, 0.3);
}

.piano_keyboard
.black_keybutton{
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}
.piano_keyboard
.black_keybutton.active{
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
} */


.piano_keyboard
.keybutton{
    transition: all 0.1s;
}






