.piano_keyboard-octave{
    position: relative;
    
    flex-grow: 1;
}




.piano_keyboard-octave{
    --_pitch_tag_color:rgba(0, 75, 48, 0.5);
}

.piano_keyboard-octave[octave="2"]{
    --_pitch_tag_color:rgba(0, 61, 114, 0.5);
}
.piano_keyboard-octave[octave="3"]{
    --_pitch_tag_color:rgba(0, 108, 97, 0.5);
}
.piano_keyboard-octave[octave="4"]{
    --_pitch_tag_color:rgba(0, 75, 48, 0.5);
}
.piano_keyboard-octave[octave="5"]{
    --_pitch_tag_color:rgba(111, 26, 93, 0.5);
}
.piano_keyboard-octave[octave="6"]{
    --_pitch_tag_color:rgba(121, 8, 46, 0.5);
}







